---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Building WhatsApp Co-pilots transforming conversations into revenue for enterprises.";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="Tech & IA experts"
      description={description}
    />
    <Accordion />
  </div>
</Section>